<ion-view title="Login" id="login">
    <ion-content padding="true" class="has-header">
            <div class="list">
                          <label class="item item-input item-stacked-label">
                            <span class="input-label">Username</span>
                            <input type="text" placeholder="Username" ng-model="userloginname" ng-blur="loginusername(userloginname)">
                          </label>
                          <label class="item item-input item-stacked-label">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="Password" ng-model="userloginpassword" ng-blur="loginpassword(userloginpassword)">
                          </label>
                <button class="button button-block button-calm" ng-click="loginform()">Login</button>
				<span class="lbl col-sm-3"> </span><div class="col-sm-7"><a href="#/kauhale/signup">Create Account</a></div>
            </div>
        
    </ion-content>
</ion-view>