<ion-view title="Home" id="page4">
    <ion-content padding="false" class="has-header" scroll="false">
   
        <div ng-class="rtmover">
        <button ng-click="toggleList()" ng-class="listButton" class="r-listview">VIEW LIST <i class="ion-ios-list-outline"></i></button>
            
        <div class="listcontainer">
		<div class="searchlistviewcontainer">
            
            
             <div class="resource-options">
    
          <div class="resource-row search-container">
            
            <div class="searchbox">
              <label class="item item-input rsearchcontainer">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" class="search" ng-model="searchString" placeholder="Enter your search terms" />
              </label>
            </div>
            <button ng-click="toggleSearch()" ng-click="filterMarkers('All');" class="r-searchbox-but">DONE</button>
        
          </div>
        </div>
            
			<ul id="listContainer">
				<li class='listviewstyle' ng-repeat="marker in listMarkers | searchFor:searchString">
					<div class='list-img'>
						<img class='list-imglink' src='img/placeholders/referral-image.jpg'>
					</div>
					<div class='list-infocont'>
					<span><a  ng-click="toggleDetails({{$index}}); gotoLocation({{marker.lat}},{{marker.lng}})" class='listwindow-name'>{{marker.name}}</a>
					<div class='infowindow'></span>
						<p><span class='info-subheader'>Date referred</span>{{marker.referdate}}</p>
						<p><span class='info-subheader'>gender</span>:{{marker.gender}}</p>
					</div>
					</div>
				</li>
			</ul>
            
		</div>
            
		</div>
            
            <div class="bottom-nav"></div>
        </div>
        <div ng-class="detailmover">
        <div ng-click="closeDetails()" class="closedetail"><i class="ion-close locationicon"></i></div>
		<div id="detailWindow">
            
		  Information Box
            
		</div>
        </div>
        
        <!-- MAP -->
        <div class="map-home">
        <div id="resourcemap" data-tap-disabled="true"></div>
        </div>
        <div onclick="myLocation();" class="mylocationbutton"><i class="ion-navigate locationicon"></i></div>
        
        
        <div class="home-buttons">
            <button ng-click="filterNewReferrals('Filter')" id="home-button1" class="home-navbuttons navthree"><div class="homebutcent"><i class="ion-android-contacts homebuttonicon"></i><br><span>NEW REFERRALS</span></div></button>
            <button ng-click="filterNewReferrals('All')" id="home-button1" class="home-navbuttons navfour"><div class="homebutcent"><i class="ion-ios-calendar homebuttonicon"></i><br><span>ACTIVE</span></div></button>
        </div>

        
        
        
        
        
    </ion-content>
</ion-view>